$white: #f8f8ec ;
$green:  #aedd2b ;
$primary: #066699 ;
$secondary:  #0a5483 ;
$background:  #02416d ;

$continents-images: (
  "americas":      "../../public/img/continents/america.PNG",
  "europe":        "../../public/img/continents/europe.PNG",
  "africa":        "../../public/img/continents/africa.PNG",
  "asia":          "../../public/img/continents/asia.PNG",
  "oceania":       "../../public/img/continents/oceania.PNG"
);

@mixin continent-backgrounds($map) {
  @each $name, $url in $map {
    .#{$name} {
      background-image: url("#{$url}");
    }
  }
}